body {
    background-color: gainsboro;
    background-position: center;
    font-style: italic;
    font-size: xx-large;
    font-variant: small-caps;
    background-repeat: initial;
    color: red;
    padding: 0px;
    margin: 0px;
    min-width: 950px;
    align-items: center;
    justify-content: center;
}

.body {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

.gp {
    text-decoration: none;
    background-color: crimson;
    color: black;
    border: 5px solid green;
}

.h1 {
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    display: flex;
}

img {
    max-width: 700px;
    height: auto;
    border-radius: 100px;
    padding-top: 20px;
    margin-left: 20px;
}

a {
    color: cornflowerblue;
    margin-left: 20px;
}

a:hover {
    color: chartreuse;
}

h1 {
    background-color: lightskyblue;
    min-width: 1000px;
    top: 0;
    position: sticky;
}

.p1 {
    margin-left: 20px;

}

.p2 {
    margin-left: 20px;
}

.p3 {
    margin-left: 20px;
    bottom: 0;
    top: auto;
}

h2 {
    background-color: lightskyblue;
    min-width: 1000px;
}

.mfd {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
}

.fav {
    margin-left: 20px;
}